@import "bootstrap-sprockets";
@import "honoka";

/*timeline*/
.post_panel {
  padding: 5px 5px 5px 5px;
}
.post {
  padding-left: 55px;
}
.profile_image{
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
  img {
    border-radius: 100%;
  }
}
.post_image{
  img {
    max-height: 250px;
    max-width: 300px;
  }
}

.login_section{
  float: right;
  margin-right: 15px;
}

/*sidebar*/
.sidebar {
  img {
    margin-top: 25px;
  }
}
